
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Работает</title>
</head>
<body>
    <a href="~/Vacancies/Load" class="navbar-brand">загрузить</a>
</body>
</html>
